@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --clr-black: hsl(0, 0%, 8%);
    --clr-grey: hsl(0, 0%, 41%);
    --clr-white: hsl(0, 0%, 98%);

    /* font sizes 14px 18px 80px */
    --fs-xs: 0.875rem;
    --fs-md: 1.125rem;
    --fs-lg: 2.5rem;
    --fs-xxl: 5rem;
}

/* core */
* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 2px dashed var(--clr-black);
    outline-offset: 5px;
}

body {
    min-height: 100vh;
    font-family: Epilogue, sans-serif;
    font-weight: 500;
    color: var(--clr-grey);
    background: var(--clr-white);
    overflow-x: hidden;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

/* button */
.btn {
    display: inline-block;
    padding: 18px 30px;
    border: 1px solid var(--clr-black);
    border-radius: 15px;
    transition: all 200ms ease;
    background: var(--clr-black);
    color: var(--clr-white);
}

.btn:hover {
    background: var(--clr-white);
    color: var(--clr-black);
}

.btn-inline {
    padding: 12px 22px;
    background: transparent;
    border: none;
    color: var(--clr-grey);
}

.btn-stroke {
    padding: 12px 22px;
    border-radius: 12px;
    background: transparent;
    color: var(--clr-grey);
    border-color: var(--clr-grey);
}

.btn-stroke:hover {
    color: var(--clr-black);
    border-color: var(--clr-black);
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    font-size: var(--fs-xs);
    background: var(--clr-white);
}

.header .container {
    max-width: 1376px;
    padding: 0 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 84px 1fr 1fr;
    gap: 63px;
    align-items: center;
}

.header__brand img {
    width: 100%;
    margin-bottom: -8px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav--item {
    transition: color 200ms;
}

.header__nav--item:hover {
    color: var(--clr-black);
}

.header__cta {
    justify-self: end;
}

/* main-section */
.main-section {
    padding-top: 130px;
    font-size: var(--fs-md);
}

.main-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-section__info {
    padding-left: 40px;
    padding-top: 105px;
}

.main-section__info--title {
    max-width: 508px;
    font-size: var(--fs-xxl);
    font-weight: 700;
    line-height: 0.96;
    color: var(--clr-black);
    letter-spacing: -2px;
}

.main-section__info--text {
    max-width: 425px;
    padding-top: 55px;
    padding-bottom: 55px;
    line-height: 1.53;
}

.main-section__info--clients {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 105px;
}

.main-section__img {
    background-image: url('../images/image-hero-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* RWD */
@media only screen and (max-width: 53.75em) {
    /* header */
    .header__nav {
        display: none;
    }

    /* main section */
    .main-section {
        padding-top: 75px;
    }

    .main-section .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
    }
    
    .main-section__img {
        order: -1;
        background-image: url('../images/image-hero-mobile.png');
        background-position: center;
    }

    .main-section__info {
        padding-left: 0;
        padding-top: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-section__info--title {
        font-size: var(--fs-lg);
    }

    .main-section__info--text {
        padding: 30px 10px;
    }

    .main-section__info--clients {
        padding-bottom: 80px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        gap: 10px;
    }
}